@import url('https://fonts.googleapis.com/css2?family=Lora&family=Open+Sans&family=Playfair+Display:ital,wght@1,600&display=swap');

/****************************************
* TABLE OF CONTENTS
*----------------------------------------
* 1. Overall layout
* 2. Each section's layout
* 3. Overall List 
* 4. Main menu
* 5. Main
* 6. Sidebar1
* 7. Sidebar2
* 8. Footer
****************************************/
/* 1. Overall layout */
html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}
body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}
h1, h2 {
  font-family: 'Lora', serif;
}
img {
  max-width: 100%;
  height: auto;
}
section {
  display: inline-block;
}
.page {
  max-width: 1200px;
  margin: 0 auto;
}
.hidden {
  position:absolute;
  left:-10000px;
  width:1px;
  height:1px;
}
a {
  color: navy;
}
a:visited {
  color: purple;
}
a:hover {
  color: black;
}
a:hover img {
  border:2px solid navy;
}
/* 2. Each section's layout */
#header {
  background-color: #97e2f9;
  padding: 0 5px;
  float: left;
  width: 100%;
}
#main {
  display: inline-block;
  width: 67%;
  padding: 0 10px;
  float: right;
}
#sidebar1{
  width: 31%; 
  padding: 0 10px;
  float: left;
  background-color: Azure;
}
#sidebar2{
  border: 1px solid #97e2f9;
  width: 31%;
  margin-top: 1em;  
  padding: 0 10px;
  float: left;
}
#footer {
  clear: both;
  margin-top: 1em;
  padding: 0 5px; 
  float: left;
  width: 100%;
  border-top: 2px solid #97e2f9;
}
/* 3. Overall List */
.list li {
  list-style: none;
}
.list a {
  text-decoration: none;
}
/* 4. Main menu */
#site-name {
  font-family: 'Playfair Display', serif;
  font-size: 2em;
  color: MidnightBlue;
}
#main-menu li, #bottom-menu li {
  display: inline-block;
}
#main-menu li {
  position: relative;
}
#main-menu li li {
  display: block;
}
#main-menu li ul {
  margin:0;
  padding:0;
  width:120px;
  position:absolute;
  left:-10000px;
  background-color: #97e2f9;
  font-size: 0.8em;
}
#main-menu li:hover ul {
  left: 0;
  top: 100%;
}
#site-name, #main-menu {
  float: left;
}
#site-name, #main-menu li {
  margin: 1em;
}
#search-field {
  margin-top: 4em;
  margin-right: 1em;
  float: right;
}
#search-field input {
  width: 125px;
}
/* 5. Main */
main img {
  margin-right: 1em;
  margin-bottom: 1em;
}
#main-img1, #main-img3 {
  float: left;
}
#main-img2 { 
  float: right;
}
#RFI h2, .commentform h2 {
  font-size: 1em;
  margin-bottom: 0.5em;
}
#RFI ul, .commentform label {
  font-size: 0.8em;
}
.commentform input, .commentform select, .commentform textarea {
  margin: 0.5em;
}
.commentform textarea {
  width: 450px;
}
.commentform button {
  margin-bottom: 1em;
}
/* 6. Sidebar1 */
#sidebar1 h2, #sidebar2 h2 {
  font-size: 1em;
  margin: 1em;
  color: MidnightBlue;
}
#sidebar1 img {
  max-height: 100px;
}
#sidebar1 ul {
  padding-left: 1em;
  position: relative;
}
.title-for-image {
  position: absolute;
  font-size: 0.9em;
}
#title-for-image1 {
  left: 35%;
  top: 6%;
}
#title-for-image2 {
  left: 35%;
  top: 40%;
}
#title-for-image3 {
  left: 35%;
  top: 75%;
}
/* 7. Sidebar2 */
.signin {
  margin: 1em;
}
.signin label, .signin input, .signin button {
  margin: 0.7em;
}
/* 8. Footer */
#bottom-menu {
  float: right;
}
#bottom-menu li {
  margin-right: 2em;
  font-size: 0.85em;
}
#copyright {
  float: left;
  padding-top: 5em;
  font-size: 0.85em;
}
